.super-mario {
    width: 200px;
    position: absolute;
}

.goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 50px;
}

.baloon {
    position: absolute;
    left: 400px;
    transform: rotateY(180deg);
}

.speach {
    font-size: 25px;
    position: absolute;
    top: 118px;
    left: 436px;
    z-index: 2;
}

.bowser {
    width: 200px;
    position: absolute;
    left: 250px;
    top: 280px;
}