h1 {
    /* Modificando o tamanho do h1 para 65 pixels; */
    font-size: 65px;
    /* Modificando a cor do texto do h1 para laranja; */
    color: orange;
    /* Modificando o font-family do h1 para sans-serif; */
    font-family: 'Skilkscreen';
}

p {
    /* Deixe o parágrafo com o font-weight 600; */
    font-weight: 600;
    /* Coloque o tamanho do parágrafo com o tamanho de 3 vezes o padrão do body; */
    font-size: 3em;
}

body {
    /* Modifique o font-size do body para 16px; */
    font-family: Helvetica;
    font-size: 16px;
}

ul {
    /* Modifique a cor de fundo da lista não ordenada; */
    background-color: orange;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}

.teste {
    /* Criando uma classe para modificar a cor de fundo da tag p e da ul ao mesmo tempo. */
    background-color: aqua;
}